header {
    position: initial !important;
    nav {
        .navigation {
            display: block;
        }
        a {
            font-size: 1em;
        }
        li {
            margin: 5px;
        }
    }
}
.page {
    #content {
        .sub-menu {
            & > ul {
                display: block;
                padding: 0 0 10px 0;
                & > li {
                    padding: 0 20px 0;
                }
            }
        }
    }
}
footer {
    nav {
        .navigation {
            display: block;
            margin: 0 0 60px;
        }
    }
}
ul#sharing-buttons {
    display: none;
}
.search-filters {
    display: none;
}
#comments-container {
    display: block;
    margin-left: 0;
    width: 100%;
}
#comment-main-container {
    input {
        width: 100%;
    }
    textarea {
        width: 100%;
    }
}
.lSSlideOuter {
    .media-render {
        img {
            width: 100%;
            object-fit: scale-down;
            background-color: #eee8d4;
        }
    }
    ul {
        &.lSPager {
            &.lSGallery {
                width: 90% !important;
                flex-wrap: unset;
            }
        }
    }
    .lSPager {
        &.lSGallery {
            li {
                width: 100% !important;
            }
        }
    }
}
ul {
    #itemfiles {
        padding-bottom: 0;
    }
}
.nomobilecontent {
    display: none;
}
#search-form {
    &.open {
        top: -35px;
        & + .search-toggle {
            top: -35px;
        }
    }
    & + button {
        &.search-toggle {
            top: -35px;
        }
    }
}
.resource-name {
    display: block;
}
.leaflet-container {
    &.leaflet-touch-drag {
        &.leaflet-touch-zoom {
            height: 350px !important;
        }
    }
}
.browse-controls {
    display: block;
    padding-left: 0;
    padding-right: 0;
}
.onlymobilecontent {
    display: block !important;
}
h1 {
    font-size: 24px;
    line-height: 12px;
}
nav {
    ul {
        a[href="#"] {
            display: none;
        }
    }
}
.description {
    height: auto;
}
.browseTitre {
    height: auto;
}
