#wrap,
  footer {
    padding: 0 24px;
}
.field .label,
  .field label,
  .field .field-meta,
  .media-list {
    width: 100%;
    text-align: left;
    margin-bottom: 6px;
}
.field {
    .inputs {
        width: 100%;
    }
}
.pagination-nav,
  #sort-links {
    width: 100%;
    text-align: center;
    padding: 5px 0 6px;
    border-bottom: 1px solid #dedede;
}
.pagination-nav ul,
  #sort-links ul {
    margin: 0;
}
#content {
    .sub-menu {
        width: 100%;
    }
}
#site-title {
    margin: 6px 0;
    img {
        max-height: 24px;
        max-width: calc(100% - 42px);
    }
}
#search-container {
    top: -11.4px;
}
#top-nav {
    ul {
        margin: 12px 0;
    }
}
header {
    nav {
        .navigation {
            justify-content: center;
        }
    }
}
.browse {
    .records {
        padding: 24px 0;
    }
}
.browse .hentry,
  #collection-items .hentry {
    width: 100%;
    border: 1px solid #dedede;
    padding: 11px;
    margin-bottom: 24px;
}
.browse .hentry img,
  #collection-items .hentry img {
    max-width: 50%;
    float: left;
    margin: 0 24px 6px 0;
}
.browse .hentry h2,
  #collection-items .hentry h2 {
    margin-top: 0;
}
.property h4,
  .property .values,
  #linked-filter,
  #linked-resources .pagination,
  #linked-resources>h4,
  #linked-resources .linked-resource {
    width: 100%;
    text-align: left;
}
.linked-header,
  .linked-footer {
    flex-wrap: wrap;
    margin-bottom: 0;
}
#linked-filter {
    margin-bottom: 24px;
}
#linked-resources {
    .resource-class {
        flex: 1;
        text-align: center;
    }
    .resource-link {
        flex: 2;
    }
}
#search-filters {
    ul {
        li {
            font-size: 15.75px;
            margin: 0 3px 12px;
        }
    }
}
#search-results {
    margin-top: 12px;
}
