* {
    box-sizing: border-box;
}
html {
    font: 16px "Lato", sans-serif;
    color: #676767;
}
a {
    color: #60AB9D;
    text-decoration: none;
    &:hover {
        color: darkred;
        text-decoration: none;
        outline-width: 0;
    }
    &.button {
        color: #000;
        display: inline-block;
        &:hover {
            text-decoration: none;
        }
    }
    &.metadata-browse-link {
        display: block;
    }
}
h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #000;
}
h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 24px;
    line-height: 48px;
    font-weight: normal;
}
h2 {
    font-size: 27px;
    margin-bottom: 24px;
    line-height: 48px;
    font-weight: normal;
}
p {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 12px 0;
}
#wrap {
    max-width: 1200px;
    margin: auto;
    padding: 0 .625%;
    position: relative;
    padding-bottom: 48px;
}
table {
    margin: 20px auto;
    border-collapse: collapse;
}
th,
  td {
    padding: 12px;
    vertical-align: top;
}
td {
    padding-bottom: 5px;
    img {
        padding: 5px;
    }
}
th {
    padding-bottom: 9px;
    text-align: left;
}
::-webkit-input-placeholder {
    font-style: italic;
}
::-moz-placeholder {
    font-style: italic;
}
:-ms-input-placeholder {
    font-style: italic;
}
:-moz-placeholder {
    font-style: italic;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
select {
    appearance: normal;
    -webkit-appearance: normal;
    -moz-appearance: normal;
    background-color: #fff;
    border: 1px solid #dedede;
    border-radius: 2px;
    font-size: 18px;
    line-height: 24px;
    color: #676767;
}
button,
  .button,
  input[type="submit"] {
    background-color: #dedede;
    border: 0;
    cursor: pointer;
    padding: 6px;
    border-radius: 8px;
}
input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="url"],
  input[type="number"],
  input[type="date"],
  input[type="datetime-local"] {
    border: 1px solid #dedede;
    padding: 5px;
    height: 30px;
}
textarea {
    border: 1px solid #dedede;
    padding: 5px;
}
.field {
    display: flex;
    flex-wrap: wrap;
    .field-meta {
        width: 25%;
        padding-right: .625%;
        text-align: right;
        legend {
            float: right;
        }
    }
    .inputs {
        width: 75%;
        padding-left: .625%;
    }
    .collapsible {
        font-size: 13.5px;
        display: block;
        clear: both;
        line-height: 18px;
    }
}
div#content {
    & > form {
        & > .field {
            margin-bottom: 24px;
            margin-top: 24px;
        }
    }
}
.required {
    &.field {
        .field-meta {
            &:after {
                content: "*";
            }
        }
    }
}
.field .inputs~*,
  form input[type="submit"] {
    margin-left: calc(25% + .625%);
    margin-top: 12px;
}
#advanced-search {
    padding: 24px 0;
    select {
        margin-bottom: 12px;
    }
    input[type="text"] {
        height: 30px;
    }
    input[type="submit"] {
        font-size: 22.5px;
        padding: 6px;
        color: darkred;
    }
    .remove-value {
        text-indent: -9999px;
        position: relative;
        width: 30px;
        height: 30px;
        margin-left: 6px;
        &:before {
            text-indent: 0;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            line-height: 30px;
        }
    }
}
.search-entry {
    &:not(:first-child) {
        margin-top: 12px;
    }
}
nav .navigation,
  nav ul {
    list-style: none;
    padding: 0;
}
.item-pagination {
    &.navigation {
        border-top: 1px solid #dedede;
        padding-top: 11px;
        display: flex;
        justify-content: space-between;
    }
}
.secondary-nav {
    text-align: center;
    ul {
        margin: 0 0 -1px;
        border-bottom: 1px solid #dedede;
        padding-bottom: -1px;
    }
    &.navigation {
        li {
            display: inline-block;
            margin-right: .5em;
            padding-bottom: 12px;
            &.active {
                a {
                    color: #C72E2E;
                }
            }
        }
    }
    a {
        color: #676767;
    }
}
#skipnav {
    position: absolute;
    top: 0;
    left: -9999px;
    background-color: #fff;
    padding: 6px;
    display: inline-block;
    &:focus {
        left: 50%;
        transform: translateX(-50%);
    }
}
header {
    nav {
        .navigation {
            list-style-type: none;
            padding: 0;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #dedede;
            padding: 5px 0 10px;
            margin: 24px 0;
        }
        li {
            display: block;
            margin: 0 .5em;
            ul {
                display: none;
            }
        }
        a {
            font-size: 18px;
            font-weight: bold;
        }
    }
    a {
        text-decoration: none;
    }
}
footer {
    margin-top: 48px;
    clear: both;
    nav {
        .navigation {
            list-style-type: none;
            padding: 0;
            display: flex;
            justify-content: space-around;
            border-top: 1px solid #dedede;
            padding: 10px 0 5px;
            margin: 24px 24px 40px 24px;
            font-weight: bold;
        }
    }
}
.site-title {
    font-size: 27px;
    text-transform: uppercase;
    letter-spacing: .125em;
    margin: 48px 0 0;
    display: block;
    vertical-align: top;
    text-align: center;
    &:hover {
        text-decoration: none;
    }
    img {
        max-height: 72px;
        max-width: 100%;
    }
}
#header-image {
    img {
        max-width: 100%;
        vertical-align: top;
    }
}
#search-container {
    position: absolute;
    top: -22px;
    right: .625%;
}
#search-container input[type="text"],
  #search-container button {
    border: 0;
    border-bottom: 1px solid #dedede;
    background-color: #fff;
    height: 36px;
    display: inline-block;
    line-height: 24px;
    padding: 6px;
    vertical-align: bottom;
    background-color: #fff;
    color: #676767;
}
#search-form {
    display: flex;
    padding: 6px 12px 12px;
    &.closed {
        width: 36px;
        height: 42px;
        & + .search-toggle {
            right: 0;
            border: 1px solid #dedede;
            border-top: 0;
            &:after {
                content: "\f002";
                font-family: "Font Awesome 5 Free";
            }
        }
    }
    &.open {
        right: 36px;
        position: absolute;
        top: 35px;
        & + .search-toggle {
            top: 35px;
            right: 0;
            &:after {
                content: "\f00d";
                font-family: "Font Awesome 5 Free";
            }
        }
    }
    & + button {
        &.search-toggle {
            top: 35px;
            position: absolute;
            width: 36px;
            height: 36px;
            border-bottom: 0;
            color: #b8b8b8;
        }
    }
    button {
        width: 36px;
        overflow: hidden;
        text-indent: -9999px;
        position: relative;
        &:after {
            content: "\f002";
            font-family: "Font Awesome 5 Free";
            position: absolute;
            top: 6px;
            right: 0;
            text-indent: 0;
            width: 36px;
            text-align: center;
            cursor: pointer;
        }
    }
}
#search-form.closed [type="text"],
  #search-form.closed [type="submit"],
  #search-form.closed #advanced-form {
    display: none;
}
#query {
    &:focus {
        position: relative;
        z-index: 1;
    }
}
#advanced-form {
    background-color: #fff;
    position: absolute;
    top: 100%;
    padding: 12px;
    right: 0;
    left: 0;
    border: 1px solid #dedede;
    border-top: 0;
    fieldset {
        margin-bottom: 12px;
        input {
            margin-right: 6px;
        }
    }
    p {
        margin: 0;
    }
}
#content {
    .blocks {
        & > h2 {
            &:first-of-type {
                text-align: center;
                font-size: 36px;
                margin-bottom: 24px;
                line-height: 48px;
                font-weight: normal;
            }
        }
    }
}
#bottom-nav {
    li {
        display: inline-block;
        margin-right: 1em;
        font-size: 15.75px;
    }
}
#sort-links {
    display: inline-block;
    float: right;
    ul {
        list-style: none;
        padding: 0;
        display: inline-block;
    }
    li {
        display: inline-block;
        margin: 0 .5em;
    }
    a {
        color: #676767;
    }
    .sorting {
        a {
            color: #C72E2E;
        }
    }
}
.browse-controls {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    padding-left: 10%;
    padding-right: 10%;
}
.sorting {
    button {
        padding: 5px 5px;
        margin: 10px;
    }
}
.pagination {
    float: right;
    margin-bottom: 24px;
    & > * {
        display: inline-block;
        vertical-align: top;
    }
    .button {
        background-color: #fff;
        border: 1px solid #dedede;
        height: 30px;
        line-height: 30px;
        padding: 0 12px;
        text-align: center;
    }
    .row-count {
        line-height: 30px;
    }
}
.pagination form,
  .pagination .next.button {
    margin-right: 12px;
}
[name="page"] {
    width: 72px;
    text-align: center;
}
.resource-list {
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    clear: both;
    .resource {
        margin-left: 20px;
        margin-right: 20px;
        width: 200px;
    }
}
#collection-items {
    h2 {
        width: 100%;
    }
}
.browse {
    .resource {
        h4 {
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 0;
            margin-top: 0;
            text-align: center;
            a {
                color: #000;
            }
        }
        img {
            max-width: 100%;
        }
    }
    .item-img {
        a {
            display: block;
        }
    }
    .creator {
        & + .date {
            margin-left: -4px;
            &:before {
                content: ", ";
            }
        }
    }
}
.search-filters {
    text-align: center;
    margin: 0 0 24px;
    color: darkred;
    .filter {
        display: inline-block;
        padding: 5px;
        font-size: 22.5px;
        margin: 0 .5em;
    }
    .filter-label {
        &:after {
            content: " : ";
        }
    }
}
#itemfiles,
  .lSSlideOuter .media-render {
    margin: 0;
    background-color: #eee8d4;
    width: 100%;
}
#itemfiles {
    margin: 0 auto 24px;
    text-align: center;
    min-height: 50vh !important;
    li {
        bottom: 0;
    }
}
.lSSlideOuter {
    ul {
        &.lSPager {
            &.lSGallery {
                margin: auto;
                margin-bottom: 24px;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
            }
        }
    }
    .media-render {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        img {
            max-height: 100%;
            width: auto;
        }
    }
}
.lSPager {
    img {
        margin: 0 12px 12px 0;
        vertical-align: bottom;
        width: 72px;
    }
}
.property {
    display: flex;
    margin-bottom: 24px;
    flex-wrap: wrap;
    justify-content: flex-start;
    clear: both;
    margin-top: 24px;
    .field-term {
        display: block;
        font-size: 18px;
    }
    .values {
        .value {
            &:not(:last-child) {
                margin-bottom: 12px;
            }
        }
    }
    .value {
        & > *:first-child {
            margin-top: 0;
        }
        img {
            height: 100px;
            width: 100px;
            display: inline-block;
            vertical-align: top;
            object-fit: scale-down;
            background-color: #eee8d4;
        }
        .language {
            display: none;
            padding: 0 6px;
            border: 1px solid #dedede;
        }
        table {
            margin: 0;
            width: 100%;
        }
    }
}
.property h4,
  #linked-resources h4 {
    width: 18.75%;
    margin: 0;
    text-align: right;
    padding: 0 .625%;
    font-size: 16px;
}
.property .values,
  .property .value {
    width: 81.25%;
    padding: 0 .625%;
}
div {
    .value {
        .tag {
            width: 81.25%;
            padding: 0 .625%;
        }
    }
}
#linked-resources {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    table {
        width: 100%;
        margin-top: 0;
    }
    td {
        vertical-align: middle;
    }
    caption {
        text-align: left;
        font-weight: bold;
        margin: 6px 12px;
    }
    & > h4 {
        padding: 6px .625%;
    }
    .linked-resource {
        border-bottom: 1px solid #dedede;
        margin-bottom: 12px;
        width: 81.25%;
        padding: 0 .625% 11px;
    }
    .resource-link {
        display: flex;
        align-items: center;
    }
}
.linked-header,
  .linked-footer {
    width: 100%;
    margin-bottom: 24px;
    display: flex;
    justify-content: flex-end;
}
#linked-filter {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: flex-start;
    margin-right: auto;
    h4 {
        font-size: 14px;
        width: auto;
        padding: 0;
        margin-right: 6px;
        text-align: left;
    }
}
#item-linked {
    .pagination {
        width: 50%;
        text-align: right;
    }
    .resource-link {
        img {
            height: 50px;
            width: 50px;
            object-fit: scale-down;
            background-color: #eee8d4;
            display: block;
            margin-right: 6px;
        }
    }
}
#home {
    #featured {
        margin: 0 0 48px;
        background-color: #dedede;
        .slick-list {
            .image {
                display: block;
                height: 50vh;
                overflow: hidden;
            }
        }
    }
}
#featured {
    img {
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    .featured-meta {
        position: absolute;
        bottom: 24px;
        left: 0;
        right: 0;
        padding: 12px .625% 18px;
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;
        h3 {
            font-size: 31.5px;
            line-height: 42px;
            margin: 0;
            font-weight: normal;
            a {
                color: #fff;
                &:hover {
                    text-decoration: none;
                }
            }
        }
        p {
            font-size: 15.75px;
            margin: 0;
        }
    }
    .slick-dots {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        list-style: none;
        padding: 0;
        li {
            display: inline-block;
        }
        button {
            background-color: #dedede;
            width: 13.5px;
            height: 13.5px;
            border-radius: 18px;
            text-indent: -9999px;
            border: 0;
            cursor: pointer;
            margin: 0 .5em;
        }
        li[aria-hidden="false"] {
            button {
                background-color: #9e9e9e;
            }
        }
    }
}
#search-results {
    width: 100%;
    margin: 24px 0 0;
    img {
        height: 72px;
        float: right;
    }
    a {
        vertical-align: top;
    }
}
.page {
    .site-page-pagination {
        border-top: 1px solid #dedede;
        padding-top: 11px;
        margin-top: 48px;
        width: 100%;
        a {
            &:last-child {
                &:not(:only-child) {
                    margin-left: 24px;
                }
            }
        }
    }
    #content {
        display: flex;
        flex-wrap: wrap;
        .breadcrumbs {
            width: 100%;
            padding-left: 20px;
        }
        .sub-menu {
            padding: 0 50px 0 20px;
            & ~ *:not(.site-page-pagination) {
                width: 100%;
            }
            & > ul {
                margin: 0;
                display: flex;
                justify-content: space-between;
                color: darkred;
                border-bottom: 1px solid #dedede;
                & > li {
                    padding: 0 20px 5px;
                    &:not(:last-of-type) {
                        margin-bottom: 6px;
                    }
                }
            }
            a {
                font-size: 15.75px;
                color: #676767;
                &:hover {
                    color: darkred;
                }
            }
            .current {
                a {
                    color: #C72E2E;
                }
            }
            h4 {
                border-bottom: 1px solid #dedede;
                padding-bottom: 5px;
                margin: 0 0 6px;
            }
        }
    }
    .media-render {
        display: flex;
        flex-basis: min-content;
        a {
            display: block;
        }
        img {
            vertical-align: top;
        }
    }
}
.page #content .breadcrumbs+.blocks,
  .page #content .blocks:first-child {
    width: 100%;
}
.file,
  .item-showcase .resource {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
}
.item-showcase .resource,
  .file .resource {
    display: flex;
    flex-direction: column;
    flex-basis: content;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    max-width: 100%;
    margin: 0 24px 24px;
}
.item-showcase .resource img,
  .file .resource img {
    max-width: 100%;
}
.item-showcase .resource>a:first-child,
  .item-showcase .resource .media-render>a:first-child,
  .file .resource>a:first-child,
  .file .resource .media-render>a:first-child {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    max-width: 100%;
}
.item-showcase .resource h3,
  .file .resource h3 {
    font-size: 18px;
    margin: 12px 0 0;
}
.left {
    &.file {
        float: left;
        margin: 0 24px 24px 0;
    }
}
.right {
    &.file {
        float: right;
        margin: 0 0 24px 24px;
    }
}
.item-showcase {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    clear: both;
    justify-content: center;
    margin: 24px 0;
}
.preview-block {
    margin: 24px 0;
    .description {
        max-height: 144px;
        overflow: hidden;
        position: relative;
    }
}
} {
    .breadcrumbs {
        margin-bottom: 24px;
    }
}
.item-with-metadata {
    .resource {
        &.show {
            clear: both;
            margin: 48px 0;
            overflow: hidden;
        }
    }
}
.caption {
    & > *:first-child {
        margin-top: 12px;
    }
}
.list-of-sites {
    .site-list {
        .site {
            margin-bottom: 12px;
        }
        .site-link {
            display: inline-block;
            font-size: 22.5px;
            margin-bottom: 6px;
        }
        .site-summary {
            margin: 0 0 0 12px;
            line-height: 20px;
        }
    }
}
